
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}




<div class="row container-fluid text-center pt-5 my-5">
    <div class="col-3"></div>
    <div class="card col-6  shadow">
        <div class="card-body">
            <h3 class="card-title font-weight-bold">Bienvenido Don Cuco :)</h3>
            <p class="card-text"></p>
        </div>
        <div class="text-center pb-5">
            <img src="~/IMG/KEONEC.png" class="" alt="..." height="80" width="80">
        </div>    
    </div>
    <div class="col-3"></div>
</div>

