
@{
    ViewBag.Title = "Caja";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h3 class="font-weight-bold my-5 text-center">CAJA</h3>

<div class="container">
    <table class="table" id="tablaCaja">
        <thead class="thead-dark table-responsive-md">
            <tr>
                <th scope="col">Contrato</th>
                <th scope="col">Fecha del contrato</th>
                <th scope="col">Empresa</th>
                <th scope="col">Hospital</th>
                <th scope="col">Ciudad</th>
                <th scope="col">Estado</th>
                <th scope="col">Modelo</th>
                <th scope="col">Num. Serie</th>
                <th scope="col">Marca</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>a</td>
                <td>l</td>
                <td>o</td>
                <td>p</td>
                <td>o</td>
                <td>l</td>
                <td>i</td>
                <td>s</td>
                <td>i</td>
                <td class="pl-5">
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteItCaja" data-whatever="">
                        <ion-icon name="trash-outline"></ion-icon>
                    </button>
                </td>
            </tr>
            <?php
            require_once 'app/verItems.inc.php';
            ?>
        </tbody>
    </table>
</div>

<div class="modal fade" id="deleteItCaja" tabindex="-1" aria-labelledby="deleteItemLabel2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteItemLabel2">¿Seguro que quiere borrar este objeto?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="panel panel-default">
                        <div class="panel-heading"></div>
                        <div class="panel-body align-content-center">
                            <div class="row">
                                <div class="col-md-3">

                                </div>
                                <div class="col-md-9">
                                    <a type="buttom" class="btn btn-primary" href="#">Si</a>
                                    <a type="buttom" class="btn btn-danger" href="#">No</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#tablaCaja').DataTable();
    });
</script>