
@{
    ViewBag.Title = "Consultas";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="my-5">
    <h3 class="font-weight-bold text-center">INVENTARIO</h3>
</div>
<div class="row">
    <div class="col-sm-1">

    </div>
    @*<div class="col-sm-2">
            <button type="button" class="btn btn-dark btn2 col-12" data-toggle="modal" data-target="#testItem" data-whatever="">
                <ion-icon name="search-outline"></ion-icon> +Consultas
            </button>
        </div>*@
    <div class="col-8">
        <form id="formCon" method="post">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputState">Buscar por:</label>
                    <select name="inProdTipoCon" class="form-control">
                        <option selected>ID</option>
                        <option>Marca</option>
                        <option>Tipo</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>Ingrese el ID/Marca/Tipo a buscar</label>
                    <input type="text" class="form-control" name="inProdCon" placeholder="">
                </div>
                <div class="form-group col-md-2 my-2">
                    <label></label>
                    <button type="submit" class="btn btn-dark col-12">Buscar</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-2 p-2">
        <label></label>
        <button type="button" class="btn btn-dark btn2 col-12 " data-toggle="modal" data-target="#modItem" data-whatever="">
            Modificar <ion-icon name="create-outline"></ion-icon>
        </button>
    </div>
</div>


<div class="container my-2">
    <table class="table" id="tablaItemsCon">
        <thead class="thead-dark table-responsive-md">
            <tr>
                <th scope="col">ID de Producto</th>
                <th scope="col">Producto</th>
                <th scope="col">Marca</th>
                <th scope="col">Entradas</th>
                <th scope="col">Ventas</th>
                <th scope="col">Salida por caducidad</th>
                <th scope="col">Existencias</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

@*--------------------------------Ventana emergente para Detalles--------------------------------*@
@*<div class="modal fade" id="testItem" tabindex="-1" aria-labelledby="testItemLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="testItemLabel">Consultas de utilidad</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="panel panel-default">
                            <div class="panel-heading"></div>
                            <div class="panel-body">
                                <form id="formCon" method="post">
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="inputState">Buscar por:</label>
                                            <select name="inProdTipoCon" class="form-control">
                                                <option selected>ID</option>
                                                <option>Marca</option>
                                                <option>Tipo</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Ingrese el ID/Marca/Tipo a buscar</label>
                                            <input type="text" class="form-control" name="inProdCon" placeholder="">
                                        </div>
                                        <div class="form-group col-md-2 my-2">
                                            <label></label>
                                            <button type="submit" class="btn btn-dark col-12">Buscar</button>
                                        </div>
                                    </div>
                                </form>
                                <div class="container my-2">
                                    <table class="table" id="tablaItemsCon">
                                        <thead class="thead-dark table-responsive-md">
                                            <tr>
                                                <th scope="col">ID de Producto</th>
                                                <th scope="col">Marca</th>
                                                <th scope="col">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

@*--------------------------------Ventana emergente para Modificar--------------------------------*@
<div class="modal fade" id="modItem" tabindex="-1" aria-labelledby="modItemLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modItemLabel">Consultas de utilidad</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="panel panel-default">
                        <div class="panel-heading"></div>
                        <div class="panel-body">
                            <form>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">Email</label>
                                        <input type="email" class="form-control" id="inputEmail4">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputPassword4">Password</label>
                                        <input type="password" class="form-control" id="inputPassword4">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputAddress">Address</label>
                                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                                </div>
                                <div class="form-group">
                                    <label for="inputAddress2">Address 2</label>
                                    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputCity">City</label>
                                        <input type="text" class="form-control" id="inputCity">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputState">State</label>
                                        <select id="inputState" class="form-control">
                                            <option selected>Choose...</option>
                                            <option>...</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="inputZip">Zip</label>
                                        <input type="text" class="form-control" id="inputZip">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="gridCheck">
                                        <label class="form-check-label" for="gridCheck">
                                            Check me out
                                        </label>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Sign in</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            @*$('#tablaItems').DataTable(
                {
                    "processing": true,
                    "serverSide": true,
                    "ajax":
                    {
                        "url": "/Inventario/Test",
                        "type": "POST",
                        "datatype": "json"
                    },
                    "pageLength": 10,
                    "filter": true,
                    "responsivePriority": 1,
                    "data": null,
                    "columns":
                        [
                            { "data": "Producto", "name": "Producto", "autoWidth": true },
                            { "data": "Marca", "name": "Marca", "autoWidth": true },
                            { "data": "Total", "name": "Total", "autoWidth": true },
                        ]
                });*@
            $('#tablaItemsCon').DataTable(
                {
                    "processing": false,
                    "serverSide": true,
                    "ajax":
                    {
                        "url": "/Inventario/Consultas",
                        "type": "POST",
                        "datatype": "json",
                        "error": function (xhr, ajaxOptions, thrownError) {
                            alert("ERROR :( \nCompruebe que los datos ingresados sean correctos");                            
                        }
                    },
                    "pageLength": 10,
                    "filter": false,
                    "responsivePriority": 1,
                    "data": null,
                    "columns":
                        [
                            { "data": "ID", "name": "Producto", "autoWidth": true },
                            { "data": "Producto", "name": "Producto", "autoWidth": true },
                            { "data": "Marca", "name": "Marca", "autoWidth": true },
                            { "data": "Entradas", "name": "Total", "autoWidth": true },
                            { "data": "Ventas", "name": "Producto", "autoWidth": true },
                            { "data": "Salida_Caducidad", "name": "Producto", "autoWidth": true },
                            { "data": "Existencias", "name": "Producto", "autoWidth": true },
                        ]
                    
                });
            $('#formCon').submit(function (e) {
                e.preventDefault();
                url = "/Inventario/Test"
                parametros = $(this).serialize();
                $.post(url, parametros, function (data) {
                    if (data == "1") {
                        document.location.href = "/Inventario/VerConsultas";
                    }
                    else {
                        alert(data)
                    }
                })
            })
        });
    </script>
}
